datafactory-shreeram/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory-shreeram"
		},
		"LinkedService_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LinkedService_AzureDatabricks'"
		},
		"linkedservice_azuresqldatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedservice_azuresqldatabase'"
		},
		"linkedservice_datalake_gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'linkedservice_datalake_gen2'"
		},
		"LinkedService_AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0222-191616-4vfxshi3"
		},
		"linkedservice_azuresqldatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server-azuresqldatabase.database.windows.net"
		},
		"linkedservice_azuresqldatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "database-azure-sql"
		},
		"linkedservice_azuresqldatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ram"
		},
		"linkedservice_datalake_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakeazuredatabricks.dfs.core.windows.net/"
		},
		"linkedservice_github_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Github_to_SQLDatabaseTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Github_to_SQLTable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_github",
								"type": "DatasetReference",
								"parameters": {
									"filename": "buy_anything_sales.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-22T17:59:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_github')]",
				"[concat(variables('factoryId'), '/datasets/dataset_AzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Notebooks_Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Running notebook job of databricks directly in ADF.",
				"activities": [
					{
						"name": "silver_notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/silver_layer/transformations"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold_DimCustomer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver_notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/gold/GoldDimCustomer"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold_DimProduct",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver_notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/gold/GoldDimProduct"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold_DimDate",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver_notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/gold/GoldDimDate"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gold_DimRegion",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "silver_notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/gold/DimSalesRegion"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fact_Sales",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "gold_DimCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "gold_DimProduct",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "gold_DimDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "gold_DimRegion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shreeramprajapati2_gmail.com#ext#@shreeramprajapati2gmail.onmicrosoft.com/Azure_Databricks-DataEngineering_Project/gold/Fact_Sales"
						},
						"linkedServiceName": {
							"referenceName": "LinkedService_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incremental_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Incremental pipeline using watermarking technique for smooth integration",
				"activities": [
					{
						"name": "Last_Date",
						"description": "Lookup activity used to lookup value in watermark table named as dateholder in azure sql database ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from dateholder",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dataset_AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Max_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(OrderDate) as maximumdate from SalesOrders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dataset_AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "new_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Max_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from SalesOrders where OrderDate > '@{activity('Last_Date').output.value[0].lastdate}' and OrderDate <= '@{activity('Max_Date').output.value[0].maximumdate}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_datalake_gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "update_dateholder",
						"description": "Update the dateholder table with last incremental max date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "new_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[updatedateholder]",
							"storedProcedureParameters": {
								"myvar": {
									"value": {
										"value": "@activity('Max_Date').output.value[0].maximumdate",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linkedservice_azuresqldatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/dataset_datalake_gen2')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedservice_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_AzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_azuresqldatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OrderDate",
						"type": "date"
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "CustomerEmail",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductCategory",
						"type": "varchar"
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TotalPrice",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "SalesRegion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SalesOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedservice_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_datalake_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_datalake_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedservice_datalake_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_github')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_github",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "shreeram0912/Azure_Databricks-DataEngineering_Project/refs/heads/main/@{dataset().filename}",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedservice_github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedService_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405608733604532.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LinkedService_AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('LinkedService_AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedservice_azuresqldatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('linkedservice_azuresqldatabase_properties_typeProperties_server')]",
					"database": "[parameters('linkedservice_azuresqldatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('linkedservice_azuresqldatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedservice_azuresqldatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedservice_datalake_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for data factory to data lake gen2 storage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linkedservice_datalake_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('linkedservice_datalake_gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedservice_github')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connecting Azure data factory to github bridge",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('linkedservice_github_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}