pipeline/incremental_pipeline.json
{
	"name": "incremental_pipeline",
	"properties": {
		"description": "Incremental pipeline using watermarking technique for smooth integration",
		"activities": [
			{
				"name": "Last_Date",
				"description": "Lookup activity used to lookup value in watermark table named as dateholder in azure sql database ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dateholder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Max_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(OrderDate) as maximumdate from SalesOrders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_AzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "new_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Max_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from SalesOrders where Date > '@{activity('Last_Date').output.value[0].lastdate}' and Date <= '@{activity('Max_Date').output.value[0].maximumdate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dataset_AzureSqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dataset_datalake_gen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update_dateholder",
				"description": "Update the dateholder table with last incremental max date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "new_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatedateholder]",
					"storedProcedureParameters": {
						"myvar": {
							"value": {
								"value": "@activity('Max_Date').output.value[0].maximumdate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_azuresqldatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}